.jumbotron {
  background-color: #1972D2 !important;
  height: 95vh;
}
.jumbotron h1, .jumbotron h2 {
  color: white !important;
}

#next {
  width: 100%;
}

.restaurant {
  padding: 0px;
  margin: 0px;
}

.restaurant-img {
  max-width: 100%;
}

#results-button {
  text-align: center;
}

#yeah, #nah {
  width: 100%;
}

label img {
  max-width: 100%
}

input[type="checkbox"], input[type="radio"] {
  display:none
}

input[type="checkbox"] + label img, input[type="radio"] + label img {
  transition-duration: 0.2s;
  transform: scale(1)
}

input[type="checkbox"]:checked + label img, input[type="radio"]:checked + label img {
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-color: red;
  transition-duration:0.2s;
  transform: scale(0.95);
}