body {
  background-color: #e5e5e6 !important;
}

hr {
  border-color: #2f3351 !important;
}

.jumbotron {
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-position: center; 
  height: 95vh;
  color: white !important;
}

.container {
  padding-top: 25px;
  padding-bottom: 50px;
}

.container-fluid {
  background-color: #2f3351 !important;
  padding-top: 50px;
  padding-bottom: 75px;
  color: white;
}

#next, #submit-query {
  border: none;
  background-color: #448AFF;
  color: white;
  width: 100%;
  border-radius: 25px !important;
}

table {
  width:100%;
}
td {
  width:25%;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background: #3e3e41;
    border: none;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #448AFF;
    margin-top: -7px;
}

#results {
  background-color: #2f3351;
  color: white;
  font-size: 1.5em;
}

#yeah {
  width: 100%;
  border: none;
  background-color: #448AFF;
  border-radius: 25px !important;
}

#nah {
  width: 100%;
  border-radius: 25px !important;
}

#map {
  height: 400px;
}
.restaurant {
  padding: 0px;
  margin: 0px;
}

.restaurant-img {
  max-width: 100%;
}

#results-button {
  text-align: center;
}

label img {
  max-width: 100%
}

input[type="checkbox"], input[type="radio"] {
  display:none
}

input[type="checkbox"] + label img, input[type="radio"] + label img {
  transition-duration: 0.2s;
  transform: scale(1)
}

input[type="checkbox"]:checked + label img, input[type="radio"]:checked + label img {
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-color: #448AFF;
  transition-duration:0.2s;
  transform: scale(0.95);
}